extends layout
      
block content
  script.
    function setUserAndActivity(player,stat,statValue,round) {
      document.getElementById("player").value = player; 
      document.getElementById("stat").value = stat;
      document.getElementById("statValue").value = statValue;
      document.getElementById("round").value = round;            
    };
    function incrementRound(round) {
      alert(document.getElementById("round").value);
      document.getElementById("round").value = round+1;
      round=round+1;
    };
  h2 Tilastoitava joukkue #{team.name} 
    
  div 
    - var round=1
    p Erä #{round} &nbsp;
      button(onclick="incrementRound(#{round}) ").
        Erän vaihto 
    form(name="input", id="statForm", action="savestats", method="post")      
      input(type="hidden" name="matchId" value="1")
      input(type="hidden" name="round" id="round")
      input(type="hidden" name="player" id="player")
      input(type="hidden" name="stat" id="stat")
      input(type="hidden" name="statValue" id="statValue")

      table(border='1')
        thead 
          tr
            th #{team.name}
            th(colspan=4) Vastaanotto 
            th(colspan=4) Syöttö
            th(colspan=2) Torjunta
            th(colspan=3) Hyökkäys
          tr
            th Pelaaja        
            th KUPPI 1 	 
            th 2
            th 3 
            th VIRHE 4
            th ÄSSÄ 1 
            th 2
            th 3 
            th VIRHE 4 
            th Tappo 1
            th 2
            th PISTE 1 
            th 2
            th VIRHE 3
        tbody
        each player in team.Players
          tr 
            td #{player.number}&nbsp;#{player.name}
            td 
              button#green(
                type='submit'
                style='width: 25px; height: 25px; background-color: green;'
                onclick="setUserAndActivity(#{player.id},'pass','1',#{round})"
                value="#{player.id}/pass1"
              ) +
            td 
              button#green(
                type='submit'
                style='width: 25px; height: 25px; background-color: green;'
                onclick="setUserAndActivity(#{player.id},'pass','2',#{round})"
                value="#{player.id}/pass1"
              ) +
            td 
              button#green(
                type='submit'
                style='width: 25px; height: 25px; background-color: green;'
                onclick="setUserAndActivity(#{player.id},'pass','3',#{round})"
                value="#{player.id}/pass1"
              ) +
            td 
              button#green(
                type='submit'
                style='width: 25px; height: 25px; background-color: green;'
                onclick="setUserAndActivity(#{player.id},'pass','4',#{round})"
                value="#{player.id}/pass1"
              ) +
            td 
              button#green(
                type='submit'
                style='width: 25px; height: 25px; background-color: green;'
                onclick="setUserAndActivity(#{player.id},'serve','1',#{round})"
                value="#{player.id}/pass1"
              ) +
            td 
              button#green(
                type='submit'
                style='width: 25px; height: 25px; background-color: green;'
                onclick="setUserAndActivity(#{player.id},'serve','2',#{round})"
                value="#{player.id}/pass1"
              ) +
            td  
              button#green(
                type='submit'
                style='width: 25px; height: 25px; background-color: green;'
                onclick="setUserAndActivity(#{player.id},'serve','3',#{round})"
                value="#{player.id}/pass1"
              ) +
            td  
              button#green(
                type='submit'
                style='width: 25px; height: 25px; background-color: green;'
                onclick="setUserAndActivity(#{player.id},'serve','4',#{round})"
                value="#{player.id}/pass1"
              ) +
            td 
              button#green(
                type='submit'
                style='width: 25px; height: 25px; background-color: green;'
                onclick="setUserAndActivity(#{player.id},'block','1',#{round})"
                value="#{player.id}/pass1"
              ) +
            td 
              button#green(
                type='submit'
                style='width: 25px; height: 25px; background-color: green;'
                onclick="setUserAndActivity(#{player.id},'block','2',#{round})"
                value="#{player.id}/pass1"
              ) +
            td 
              button#green(
                type='submit'
                style='width: 25px; height: 25px; background-color: green;'
                onclick="setUserAndActivity(#{player.id},'attack','1',#{round})"
                value="#{player.id}/pass1"
              ) +
            td 
              button#green(
                type='submit'
                style='width: 25px; height: 25px; background-color: green;'
                onclick="setUserAndActivity(#{player.id},'attack','2',#{round})"
                value="#{player.id}/pass1"
              ) +
            td 
              button#green(
                type='submit'
                style='width: 25px; height: 25px; background-color: green;'
                onclick="setUserAndActivity(#{player.id},'attack','3',#{round})"
                value="#{player.id}/pass1"
              ) +
      
